In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from warnings import filterwarnings
import plotly.express as px
filterwarnings('ignore')

In [8]:
df = pd.read_csv(r'adult_cleaned.csv')

In [9]:
df

,age,fnlwgt,education_num,marital_status,occupation,relationship,capital_loss,hours-per-week,Target
0,39.0,77516.0,13.0,not-married,Adm-clerical,Not-in-family,0.0,40.0,0
1,50.0,83311.0,13.0,married,Exec-managerial,Husband,0.0,13.0,0
2,38.0,215646.0,9.0,other,Handlers-cleaners,Not-in-family,0.0,40.0,0
3,53.0,234721.0,7.0,married,Handlers-cleaners,Husband,0.0,40.0,0
4,28.0,338409.0,13.0,married,Prof-specialty,Wife,0.0,40.0,0
...,...,...,...,...,...,...,...,...,...
30134,27.0,257302.0,12.0,married,Tech-support,Wife,0.0,38.0,0
30135,40.0,154374.0,9.0,married,Machine-op-inspct,Husband,0.0,40.0,1
30136,58.0,151910.0,9.0,other,Adm-clerical,Unmarried,0.0,40.0,0
30137,22.0,201490.0,9.0,not-married,Adm-clerical,Own-child,0.0,20.0,0
30138,52.0,287927.0,9.0,married,Exec-managerial,Wife,0.0,40.0,1

In [11]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
df1= df.copy()
df1= df1.apply(LabelEncoder().fit_transform)
df1.head()

,age,fnlwgt,education_num,marital_status,occupation,relationship,capital_loss,hours-per-week,Target
0,22,2491,12,1,0,1,0,39,0
1,33,2727,12,0,3,0,0,12,0
2,21,13188,8,2,5,1,0,39,0
3,36,14354,6,0,5,0,0,39,0
4,11,18120,12,0,9,5,0,39,0

In [12]:
ss= StandardScaler().fit(df1.drop('Target', axis=1))

In [13]:
X= ss.transform(df1.drop('Target', axis=1))
y= df['Target']

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=40)

In [15]:
from sklearn.ensemble import AdaBoostClassifier
model= AdaBoostClassifier()

In [16]:
model.fit(X_train, y_train)

AdaBoostClassifier()

In [17]:
y_predict = model.predict(X_test)

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
accuracy_score(y_test, y_predict)

0.8393054633930547

In [20]:
#We are tuning three hyperparameter right now, we are passing the different values for both parameter
grid_param = {
    "n_estimators": [50,60,70,80,90,120,140,150],
    "learning_rate": [0.001,0.0001,0.01,0.1]
}

In [21]:
from sklearn.model_selection import GridSearchCV

In [23]:
GridSearch = GridSearchCV(estimator=model,param_grid=grid_param,cv=3,verbose=2,n_jobs=-1)

In [24]:
GridSearch.fit(X_train,y_train)

Fitting 3 folds for each of 32 candidates, totalling 96 fits

GridSearchCV(cv=3, estimator=AdaBoostClassifier(), n_jobs=-1,
             param_grid={'learning_rate': [0.001, 0.0001, 0.01, 0.1],
                         'n_estimators': [50, 60, 70, 80, 90, 120, 140, 150]},
             verbose=2)

In [25]:
GridSearch.best_params_

{'learning_rate': 0.1, 'n_estimators': 150}

In [28]:
from sklearn.ensemble import AdaBoostClassifier
model1= AdaBoostClassifier(learning_rate= 0.1, n_estimators=150)

In [29]:
model1.fit(X_train, y_train)

AdaBoostClassifier(learning_rate=0.1, n_estimators=150)

In [31]:
y_predict = model1.predict(X_test)

In [32]:
accuracy_score(y_test, y_predict)

0.836208803362088